html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}
body {
    counter-reset: h1;
}

article#docs h1 {
    counter-reset: h2;
    border-bottom: 3px double #e5e5e5;
}
h2 {
    counter-reset: h3;
}
h3 {
    counter-reset: h4;
}

h2:before {
    counter-increment: h2;
    content: counter(h2) ". "
}
h3:before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3) ". "
}

h1,h2,h3,h4 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
h4 {
    font-style: italic;
    font-size: 14pt;
}
h2,h3,h4 {
    border-bottom: 1px solid #e5e5e5;
}

nav.toc {
    background-color: #F1F0F0;
}

article#docs ol li p {
    -webkit-margin-before: 4px;
    -webkit-margin-after:  0px;
}
article#docs ul li p {
    -webkit-margin-before: 4px;
    -webkit-margin-after:  0px;
}

ul {
    list-style-type: square;
}

img {
    display: block;
    margin: auto;
}
